@model LALoDep.Models.Administration.AdminChangePasswordViewModel
@{
    ViewBag.Title = "Change<br /> Password";
}

<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "change-password-form", @class = "form-horizontal center-block" }))
            {
                <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                    <span class="widget-caption">Change Password</span>
                </div>
                <div class="widget-body col-xs-12" id="changePasswordFieldSet">
                    <div class="form-group">
                        <label class="col-md-5 control-label no-padding-right">Current Password</label>
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control input-sm", tabindex = 1, autofocus = "autofocus" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 control-label no-padding-right" })
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-sm", tabindex = 2 })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 control-label no-padding-right">Confirm Password</label>
                        <div class="col-md-3">
                            <input id="ConfirmPassword" type="password" class="form-control input-sm" tabindex="3" />
                        </div>
                    </div>
                    <div id="successNotifyPassDiv"></div>
                </div>
            }
        </div>
    </div>
</div>
@section fixedfooter{
    <div class="boxfloat text-center">
        <button id="process" type="submit" class="btn btn-primary v-bottom default" tabindex="6">Process</button>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $BaseURL = '/';
        function PasswordValidation(inputtxt) {
            var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,20}$/;
            if (inputtxt.match(decimal)) {
              
                return true;
            }
             
            return false;
        }
        function getData() {
            var fData = $('#change-password-form').serialize();
            fData = fData + "&JcatsUserLoginName=" + '@Model.JcatsUserLoginName';
            return fData;
        }

        function saveData() {
            var $changePassword = false;
            if ($('#CurrentPassword').val() != '') {

                if ($('#NewPassword').val() != '') {
                    var oldPass = $('#CurrentPassword').val();
                    var newPass = $('#NewPassword').val();
                    var confirmPass = $('#ConfirmPassword').val();
                    if (!PasswordValidation(newPass)) {
                        Notify('Password must be 6 to 20 characters long and contain a minimum of one numeric, one alpha, and one non-alpha/numeric character', 'bottom-right', '5000', 'danger', 'fa-warning', true);
                        return false;
                    }
                    if (newPass != confirmPass) {
                        Notify('Passwords do not match', 'bottom-right', '5000', 'danger', 'fa-warning', true);
                        // $('#CurrentPassword').val('');
                        //  $('#NewPassword').val('');
                        //  $('#ConfirmPassword').val('');
                        return false;
                    } else if (oldPass == newPass) {
                        Notify('New must be different from old password.', 'bottom-right', '5000', 'danger', 'fa-warning', true);
                        $('#NewPassword').focus();
                        //   $('#CurrentPassword').val('');
                        // $('#NewPassword').val('');
                        // $('#ConfirmPassword').val('');
                        return false;
                    } else {
                        $changePassword = true;
                    }
                } else {
                    Notify('New password is required', 'bottom-right', '5000', 'danger', 'fa-warning', true);
                    $('#NewPassword').focus();
                    //   $('#NewPassword').val('');
                    //  $('#ConfirmPassword').val('');
                    return false;
                }
            } else {
                Notify('Current password is required', 'bottom-right', '5000', 'danger', 'fa-warning', true);
                $('#CurrentPassword').focus();
                //   $('#CurrentPassword').val('');
                //   $('#NewPassword').val('');
                //  $('#ConfirmPassword').val('');
                return false;
            }
            if ( $changePassword == true) {
                var data = getData();
                $.ajax({
                    type: "POST",
                    url: '/Administration/ChangePassword',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.errorMessage == '') {
                            if (data.succesMessage != '') {
                                // Notify(data.succesMessage, 'bottom-right', '7000', 'success', 'fa-warning', true);
                                var $successHtml = '   <div class="col-md-offset-4 col-md-4 no-padding-left no-padding-right" >' +
                                                        '<div class="alert alert-success fade in" style="width:100%">' +
                                                            '<button data-dismiss="alert" class="close">×</button><i class="fa-fw fa fa-check"></i>' +
                                                            '<span>' + data.succesMessage + '</span>' +
                                                        '</div>' +
                                                       '</div>';
                                    $('#successNotifyPassDiv').html($successHtml);
                            }
                            setTimeout(function () {
                                window.location.href = $BaseURL + data.URL;
                            }, 4000);

                        } else {
                            Notify(data.errorMessage, 'bottom-right', '5000', 'danger', 'fa-warning', true);
                            return false;
                        }
                    }
                });
            }
        }

        $("#process").on("click", function () {
            saveData();
        });


      


    </script>

}