@using LALoDep.Custom
@{
    var userManager = DependencyResolver.Current.GetService< UserManager>();
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-account" }))
    {
        @Html.AntiForgeryToken()
        <ul class="account-area">
            <li>
                <a id="user-name" class="login-area" title="">
                    <section>
                        <h2><span>@userManager.UserExtended.FullName</span></h2>
                    </section>
                </a>                
            </li>
            @*<li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="login-area" title="log out">                
                    <section>
                        <h2 class="logout"><span><i class="fa fa-sign-out"></i></span></h2>
                    </section>
                </a>
            </li>*@
        </ul>
    }
}
else
{
    <ul class="account-area">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "login-area" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "login-area" })</li>
    </ul>
}
