<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider
	  Name="https://fuljctest.canyonsolutions.com"
	  Description="SAML Login"
	  SingleLogoutServiceUrl="~/SAML/Logout"
	  AssertionConsumerServiceUrl="~/SAML/Callback">
    <LocalCertificates>
      <Certificate FileName="Certificates\fuljctest-sp-private.pfx" Password="fuljctest" />
      <!-- <Certificate FileName="Certificates\fuljcprod-sp-private.pfx" Password="fuljcprod202302" /> -->
    </LocalCertificates>
  </ServiceProvider>

  <PartnerIdentityProviders>
    <PartnerIdentityProvider
       Name="https://cosdremotetest.sandiegocounty.gov/saml/idp/sso"
       SingleLogoutServiceUrl="https://aat0318.my.idaptive.app/applogout/appkey/ae540dca-7c68-4211-ad4c-ccfc56572332/customerid/AAT0318"
       SingleSignOnServiceUrl="https://aat0318.my.idaptive.app/applogin/appKey/ae540dca-7c68-4211-ad4c-ccfc56572332/customerId/AAT0318">
      <PartnerCertificates>
        <Certificate Use="Signature" FileName="Certificates\fuljc-cyberarc-test.cer" />
      </PartnerCertificates>
    </PartnerIdentityProvider>
    <!--  PROD CONFIG
      <PartnerIdentityProvider 
        Name="https://aat0318.my.idaptive.app/d2c691bd-db68-42b5-9a09-01201af8bf4b" 
        SingleLogoutServiceUrl="https://aat0318.my.idaptive.app/applogout/appkey/d2c691bd-db68-42b5-9a09-01201af8bf4b/customerid/AAT0318" 
        SingleSignOnServiceUrl="https://aat0318.my.idaptive.app/applogin/appKey/d2c691bd-db68-42b5-9a09-01201af8bf4b/customerId/AAT0318">
       <PartnerCertificates>
         <Certificate Use="Signature" FileName="Certificates\fuljc-cyberarc-prod.cer" />
      </PartnerCertificates>
    </PartnerIdentityProvider>
  -->
  </PartnerIdentityProviders>
</SAMLConfiguration>
