 
@model   LALoDep.Models.EmailRecipient
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
    
}
 
    @*<div>
        Please reset your password by clicking <a href="@Model.CustomData["href"].ToString()">here</a>
        
    </div>*@
 <div style="background-color:#F3F4F5 !important;padding:50px;">

     <center>
         <table style="width:500px;margin:0 auto;">
             <tr>
                 <td style="text-align:center;padding:20px;">
                     <center><img src="https://aocngdev.canyonsolutions.com/assets/img/Logo_canyon.png" /></center>
                 </td>
             </tr>
             <tr>
                 <td>
                     <table style="width:100%;">

                         <tr>
                             <td style="background-color:#fff;padding:30px;">

                                 <h2 style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif">
                                     We received a request to reset your password.


                                 </h2>
                                 <p style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif">
                                     Use the link below to set up a new password for your account.
                                     If you did not request to reset your password, please inform your application administrator.


                                 </p>
                                 <center>
                                     <a style="text-decoration:none; font-family:Helvetica Neue,Helvetica,Arial,sans-serif;background-color:#4285F4;color:#fff;display:block;padding:15px 15px;width:200px;text-align:center;" href="@Model.CustomData["href"].ToString()">
                                         SET NEW PASSWORD
                                     </a>
                                 </center>
                             </td>
                         </tr>
                     </table>

                 </td>
             </tr>
         </table>
     </center>
</div>