@using LALoDep.Core.Custom.Extensions
@model IEnumerable<LALoDep.Domain.pd_JcatsReport.pd_JcatsReportGetByUserID_spResults>
<style>
    .page-list {
        display: none !important;
    }

    #treelinks table .header td {
        background: #eee !important;
    }

    #treelinks table .selected {
        background-color: #f3f7b4 !important;
        color: #262626;
    }

    #treelinks table .header td a {
        display: block;
        color: #000000;
        font-weight: bold;
        cursor: pointer;

    }  #treelinks table .item td a {
        display: block;width:30%;
        
     float:left;

    } #treelinks table .item td div {
       
     float:left !important;word-wrap:normal !important;white-space: normal;width:65%;

    }


    .widget-buttons {
        padding-top: 5px !important;
        height: 45px !important;
    }

    .fixed-table-container {
        border: none !important;
    }

    #treelinks table thead {
        display: none !important;
    }
</style>
<div class="widget row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat radius-bordered">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Reports</span>
                <div class="widget-buttons col-md-6 pull-right" style="width:30%;">
                </div>
            </div>
            <div class="widget-body">
                <div id="MyTree" class="tree">
                    <div class="tree-folder" style="display: none;">
                        <div class="tree-folder-header">
                            <i class="fa fa-folder palegreen"></i>
                            <div class="tree-folder-name"></div>
                        </div>
                        <div class="tree-folder-content">
                        </div>
                        <div class="tree-loader" style="display: none;"></div>
                    </div>
                    <div class="tree-item" style="display: none;">
                        <div class="tree-item-name"></div>
                    </div>
                </div>
                <div id="treelinks">
                    <table class="table">
                        <thead><tr><th>test</th></tr></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $.post(
                '/Inquiry/ReportTree?ReportID=@(Request.QueryString["selectedReport"].ToDecrypt().ToInt())',
                function (data) {


                    //$.each(data.groupedData,
                    //    function (index, object) {
                    //        $.each(object.children,
                    //            function (indx, child) {
                    //                $('#treelinks').append(child.name)
                    //            });
                    //    });


                    $.each(data.groupedData,
                        function (index, object) {
                            $('#treelinks table tbody').append('<tr class="header " ><td><a class="headlink" data-name="' + object.name.replace(' ', '').replace(' ', '') + '">' + object.name + '</a></td></tr>');
                            $.each(object.children,
                                function (indx, child) {

                                    $('#treelinks table tbody').append('<tr class="item ' + object.name.replace(' ', '').replace(' ', '') + '" ><td class="' + (object.selectedId === child.id ? "selected" : "") + '" >' + child.name + '</th></tr>');
                                });
                        });


                    $('#treelinks table').bootstrapTable({
                        search: true

                    });
                    $('.widget-buttons').html($('.search'));
                    $('body').on('click',
                        '.headlink',
                        function () {
                            $('.item.' + $(this).attr('data-name')).toggle();
                        });

                    $('body').on('click',
                      '.item a',
                      function (e) {
                          var reportId =  $(this).data('id');
                          if ($(this).data('prm-count') == 0 && reportId != 7 && reportId != 13 && reportId != 48) {

                              var _target = $("body").data("print-document-on") == "NewWindow" ? 'target="_blank"' : '';
                          if (_target != '') {
                              e.preventDefault();
                              $.download($(this).attr('href'),'?preview', 'GET', _target);
                          }


                      }
                    });


            $('.headlink').not(':eq(' + data.SelectedTree + ')').click();

            $('#Report_@(Request.QueryString["selectedReport"])').parent()
                .addClass('selected');

        });
        })
    </script>
    <script>
        var dataSourceDetails = [];
        var UITree = function () {
            return {
                init: function () {
                    DataSourceTree = function (options) {
                        this.url = options.url;
                    }
                    DataSourceTree.prototype.data = function (options, callback) {
                        var self = this;
                        var $data = null;

                        var param = null;
                        if (!("name" in options) && !("type" in options)) {
                            param = 0;
                        }
                        else if ("type" in options && options.type == "folder") {
                            if ("children" in options)
                                $data = options.children;
                            else $data = {}
                            callback({ data: $data });
                        }

                        if (param == 0) {
                            $.ajax({
                                url: this.url,
                                type: 'POST',
                                dataType: 'json',
                                success: function (response) {
                                    var selectedId = response.length > 0 ? response[0].selectedId : 0;
                                    //console.log(selectedId);
                                    callback({ data: response.groupedData })
                                    dataSourceDetails = response.groupedData;

                                    if (response.SelectedTree != -1) {
                                        selectTreeItem($("#MyTree"), dataSourceDetails[response.SelectedTree]);
                                        $('#Report_' + response.ReportID).parent().parent().closest('div').removeClass('tree-item').addClass('tree-item tree-selected');
                                    }
                                },
                                error: function (response) {
                                    console.log(response);
                                }
                            })
                        }
                    };

                    var selectTreeFolder = function ($treeEl, folder, $parentEl) {
                        var $parentEl = $parentEl || $treeEl;
                        if (folder.type == "folder") {
                            var $folderEl = $parentEl.find("div.tree-folder-name").filter(function (_, treeFolder) {
                                return $(treeFolder).text() == folder.name;
                            }).parent();
                            $treeEl.one("loaded", function () {
                                $.each(folder.children, function (i, item) {
                                    selectTreeFolder($treeEl, item, $folderEl.parent());
                                });
                            });
                            $treeEl.tree("selectFolder", $folderEl);
                        }
                        else {
                            selectTreeItem($treeEl, folder, $parentEl);
                        }
                    };

                    var selectTreeItem = function ($treeEl, item, $parentEl) {
                        var $parentEl = $parentEl || $treeEl;
                        if (item.type == "item") {
                            var $itemEl = $parentEl.find("div.tree-item-name").filter(function (_, treeItem) {
                                return $(treeItem).text() == item.name && !$(treeItem).parent().is(".tree-selected");
                            }).parent();
                            $treeEl.tree("selectItem", $itemEl);
                        }
                        else if (item.type == "folder") {
                            selectTreeFolder($treeEl, item, $parentEl);
                        }
                    };



                    $('#MyTree').tree({
                        dataSource: new DataSourceTree({ url: '/Inquiry/ReportTree' }),
                        multiSelect: false,
                        loadingHTML: '<div class="tree-loading"><i class="fa fa-rotate-right fa-spin"></i></div>'
                    });

                    $('#MyTree').on('loaded.fu.tree', function () {
                        // console.log('loaded.fu.tree');
                    });
                }
            };
        }();

        jQuery(document).ready(function () {
            //   UITree.init();
        });

    </script>
}

<style>
    .tree-item-name {
        display: block !important;
    }
</style>
