@using LALoDep.Custom
@model LALoDep.Models.Inquiry.ReportHearingSummaryViewModel
@{
    ViewBag.Title = "Hearings By Attorney";
}

<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Hearings By Attorney</span>
                <div class="widget-buttons">
                    &nbsp;
                </div>
            </div>
            <div class="widget-body col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "case-parameter-form", @class = "form-horizontal center-block", onsubmit = "return false" }))
                {                 
                    <div class="form-group">
                        @Html.LabelFor(m => m.StartDate, new { @class = "col-md-5 control-label no-padding-right" })
                        <div class="col-md-3">
                            <div class="input-group" style="width: 120px;">
                                <input name="StartDate" id="StartDate" maxlength="10" class="form-control input-sm date-picker" tabindex="1" />
                                <span class="input-group-addon" id="datepicker-trigger-startdate">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script>
                        $("#datepicker-trigger-startdate").bind("click", function () {
                            if ($("#StartDate").val() == '') {
                                $("#StartDate").val(getDate()).datepicker("show");
                            }
                            else { $("#StartDate").datepicker("show"); }
                        });
                    </script>

                    <div class="form-group">
                        @Html.LabelFor(m => m.EndDate, new { @class = "col-md-5 control-label no-padding-right" })
                        <div class="col-md-3">
                            <div class="input-group" style="width: 120px;">
                                <input name="EndDate" id="EndDate" maxlength="10" class="form-control input-sm date-picker" tabindex="2"/>
                                <span class="input-group-addon" id="datepicker-trigger-enddate">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script>
                        $("#datepicker-trigger-enddate").bind("click", function () {
                            if ($("#EndDate").val() == '') {
                                $("#EndDate").val(getDate()).datepicker("show");
                            }
                            else { $("#EndDate").datepicker("show"); }
                        });
                    </script>                  
                }
            </div>
        </div>
    </div>
</div>
@section fixedfooter{
    <div class="boxfloat text-center">
        <button id="generate" type="submit" class="btn btn-primary v-bottom default" tabindex="3">Generate</button>
        <button id="back" type="submit" class="btn btn-default v-bottom" tabindex="4"><u>B</u>ack</button>
    </div>
}

@section Scripts{
    <script type="text/javascript">
    $(window).on("keydown", handleHotkey);
    $("#EndDate").val(getDate());

    //First of month? or Yesterday?
    $("#StartDate").val(getYesterday());

    function handleHotkey(e) {
        if (!e.ctrlKey) return;
        switch (String.fromCharCode(e.keyCode).toLowerCase()) {
            case 'b':
                $('#back').trigger('click');
                e.preventDefault();
                break;
            default:
                break;
        }
    }

    $('#back').click(function () {
        window.location.href = "/Inquiry/Reports";
    });
    $('#generate').click(function (e) {
        e.preventDefault();

        if (!compareDates($('#StartDate').val(), $('#EndDate').val())) {
            Notify('End Date cannot be before Start Date.', 'bottom-right', '5000', 'danger', 'fa-warning', true);
            return false;
        }

        $.ajax({
            type: "POST",
            url: '/Inquiry/ReportHearingSummary',
            data: $("#case-parameter-form").serialize(),
            dataType: 'json',
            success: function (returnValue) {
                if (!(returnValue.errorMessage)) {
                   // window.location = '/Inquiry/Download?file=' + returnValue.FileName;
                    var _target = $("body").data("print-document-on") == "NewWindow" ? 'target="_blank"' : '';
                    $.download($('#hdnCurrentSessionGuidPath').val()+'/Inquiry/Download', 'file=' + returnValue.FileName, 'POST', _target);

                }
                else {

                    Notify(returnValue.errorMessage, 'bottom-right', '4000', 'info', 'fa-info', true);
                }
            },
            error: function () {
            }
        });
    });

    $(document).ready(function () {
        $(window).on("keydown", handleHotkey);
    });

    function compareDates(start, end) {
        var startDate = new Date(start);
        var endDate = new Date(end);
        if (endDate < startDate) {
            return false;
        }
        else {
            return true;
        }
    }
    function getDate(d) {
        d = (d || new Date());

        var month = d.getMonth() + 1;
        var day = d.getDate();
        return (month < 10 ? '0' : '') + month + '/' +
               (day < 10 ? '0' : '') + day + '/' + d.getFullYear();
    }
    function getYesterday(d) {
        d = (d || new Date());
        d.setDate(d.getDate() - 1)
        var month = d.getMonth() + 1;
        var day = d.getDate();
        return (month < 10 ? '0' : '') + month + '/' +
               (day < 10 ? '0' : '') + day + '/' + d.getFullYear();
    }
    </script>
}















